<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<% require 'tzinfo' %>

<!-- Header -->
<header class="masthead d-flex">
  <div class="container text-center my-auto">
    <br>
    <h1 class="mb-1">Amazing Airport App</h1>
    <h3 class="mb-5">
      <small><em>developed with ♡ by Alex Chen and Rina Kawamura</em></small>
    </h3>
  </div>
  <div class="overlay"></div>
</header>

<!-- Table -->
  <section class="content-section bg-light" id="table">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto my-3">
          <table>
            <col width="100">
            <col width="100">
            <col width="100">
            <thead>
              <tr>
                <th>Airport Code</th>
                <th>Airport Name</th>
                <th>Local Time</th>
                <th>Weather</th>
                <th>Temperature (°C)</th>
                <th>Icon</th>
        
                <th colspan="3"></th>
              </tr>
            </thead>
        
            <tbody>
              <% @airports.each do |airport| %>
                <tr>
                  <td><%= airport.code.upcase %></td>
                  <td><%= airport.name %></td>
                  <td><%= TZInfo::Timezone.get(airport.timezone).utc_to_local(Time.now.utc) %></td>
                  <td><%= airport.desc %></td>
                  <td><%= ((airport.celsius.to_f) * 1000).floor / 1000.0 %></td>
                  <% if airport.icon %>
                    <td class="img-rounded"><%= image_tag(airport.icon, :alt => "airport weather icon", :class => "rounded-circle") %></td>
                  <% end %>
        
                  <td><%= button_to 'Refresh Data', airport,{method: :patch, class: 'btn'} %></td>
                  <td><%= button_to 'Destroy', airport, {method: :delete, class: 'btn btn-primary', data: { confirm: 'Are you sure?' }} %></td>
                </tr>
              <% end %>
            </tbody>
          </table>




          
        </div>
      </div>
    </div>
  </section>

  <!-- Add Airport -->
  <section class="content-section" id="add">
    <div class="container text-center">
      <div class="row">
        <div class="col mx-auto my-3">
          <p id="notice"><%= notice %></p>
          <%= link_to 'Add Airport', new_airport_path %>
          </div>
      </div>
    </div>
  </section>
