<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Header -->
<header class="masthead d-flex">
  <div class="container text-center my-auto">
    <br>
    <h1 class="mb-1">Add Airport</h1>
    <h3 class="mb-5">
      <small><em>Input a 3-digit airport code!</em></small>
    </h3>
  </div>
  <div class="overlay"></div>
</header>

<!-- Form -->
  <section class="content-section bg-light" id="form-section">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto my-3">
            <%= render 'form', airport: @airport %>
        </div>
      </div>
    </div>
  </section>

<!-- Back -->
<section class="content-section" id="back">
    <div class="container text-center">
        <div class="row">
            <div class="col mx-auto my-3">
                <%= link_to 'Back', airports_path %>
            </div>
        </div>
    </div>
</section>